<% if(req.session.userType === "administrator"){%>
	<a href="/runway/add">Add Runway</a> | 
	<a href="/stage/add">Add Stage</a> | 
	<a href="/checkpoint/add">Add Check Point</a> |
<% } %>

<a href="/logout">Log Out</a>



<br><br>

<b>Welcome back</b> <%= username %> (<i><%= userType %></i>) - <%= major %>

<br><br>
<table border="1" width="100%">
<tr><td></td>
<% for(var i=0; i<runway.length; i++){ %>

	<td><%= runway[i].name %> [<a href="/runway/edit?id=<%= runway[i].id %>">Edit</a>]</td>

	

<% } %>
</tr>


<% for(var j=0; j<stage.length; j++){%>
<tr>
	<td><%= stage[j].name %> [<a href="/stage/edit?id=<%= stage[j].id %>">Edit</a>]</td>
	
	<% for(var z=0; z<checkpoints[stage[j].id].length; z++){ %>
		<td><% if(checkpoints[stage[j].id][z]){ %>
				<input type="checkbox" id="<%= checkpoints[stage[j].id][z].id %>">
				<%= checkpoints[stage[j].id][z].name %> [<a href="/checkpoint/edit?id=<%= checkpoints[stage[j].id][z].id %>">Edit</a>]
			<% }%></td>
	<% } %>
	
</tr>
<% } %>


</table>