<%- partial('../header') %>


<div style="padding: 30px 30px;">
<h3>Add Checkpoint</h3>

<form>
<div class="form-group">
	<label for="runway">Runway:</label>
	<select id="runway_id" class="form-control">
	<% for(var i=0; i<runways.length; i++) { %>
		<option value="<%= runways[i].id %>"><%= runways[i].name %></option>
	<% } %>
	</select>
</div>
<div class="form-group">
	<label for="stage">Stage:</label>
	<select id="stage_id" class="form-control">
	<% for(var i=0; i<stages.length; i++) { %>
		<option value="<%= stages[i].id %>"><%= stages[i].name %></option>
	<% } %>
	</select>
</div>
<div class="form-group">
	<label for="name">Checkpoint Name:</label>
	<input type="text" id="checkpoint" class="form-control" placeholder="Checkpoint Name"/>
	</select>
</div>
<div class="form-group">
	<label for="content_type">Content Type:</label>
	<select id="content_type" class="form-control">
		<option value="text">Text</option>
		<option value="url">Url</option>
		<option vaue="file">File</option>
	</select>
</div>
<div class="form-group">
	<label for="content_type">General Content:</label>
	<input type="text" id="content_text" class="form-control">
</div>
<button type="button" class="btn btn-default" id="btnAddCheckpoint">Add</button>
<input type="hidden" value="<%= fid %>" id="fid" />
</form>
	



</div>
  
  
  
<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
$("#btnAddCheckpoint").on("click", function(){
	
	var stage_id = $("#stage_id").val(),
		runway_id = $("#runway_id").val(),
		checkpoint = $("#checkpoint").val(),
		contentType = $("#content_type").val(),
		content =  $("#content_text").val(),
		fid = $("#fid").val();

	$.ajax({
		
		type: "GET",
		data: "stage_id="+stage_id+"&runway_id="+runway_id+"&checkpoint="+encodeURIComponent(checkpoint)+"&content_type="+contentType+"&content="+content+"&fid="+fid,
		url: "/checkpoint/save",
		success: function(err, resp){
			alert("Saved Checkpoint!");
		},
		error: function(err, resp){
			
			alert("Err");
		}
		
	});
	
});


$("#content_type").on("change", function(){
	
	var option = $("#content_type").val();
	
	if(option === "File"){
	
		//Hide the text 
		$("#content_text").hide();	
		//Show the title.
		$("#content").append("<input type='file' id='content_file' /> <span id='note'>Note:  Will not allow uploading since server is out in the public.</span>");
	}	
	else{
	
		//Toggle file.
		if($("#content_file").length > 0){

			$("#content_file").hide();
			$("#note").hide();
			$("#content_text").show();
		}
	}


});
</script>

<%- partial('../footer') %>